.side-drawer{
    margin-top: 5rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height:95vh ;
    background-color: #3f3f3f;
    /* background-color: white; */
    /* background-color: black; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
}

@media screen and (max-width : 510px){
    .side-drawer{
        margin-top: 4rem;
    }
}